.confirmPayment__wrapper {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.confirm__payment {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 32px auto;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(79 79 79 / 5%) 0px 5px 25px;
  border-radius: 4px;
  font-size: var(--fontSizeSmall);
  color: rgb(56, 64, 71);

  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);

  position: fixed;
}
.confirm__payment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.confirm__payment-title > span {
  font-size: var(--fontSizeSmall);
  font-weight: 500;
  text-overflow: ellipsis;
}
.confirm__payment-body {
  border-top: 1px solid rgb(227, 229, 230);
  padding: 20px;
  color: rgb(111, 117, 123);
}
.confirm__payment-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 20px;
}
.confirm__payment-stay {
  color: var(--colorBlue);
  border: 1px solid;
  background-color: transparent;
  min-height: 40px;
  padding: 12px 24px;
  font-size: var(--fontSizeSmall);
  line-height: 1;
  font-weight: 500;
  border-radius: 2px;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  outline: 0;
  transition: background-color 50ms;
}
.confirm__payment-leave {
  min-height: 40px;
  padding: 12px 24px;
  font-size: var(--fontSizeSmall);
  display: inline-flex;
  justify-content: center;
  border: 0;
  align-items: center;
  line-height: 1;
  text-decoration: none;
  font-weight: 500;
  border-radius: 2px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
  outline: 0;
  transition: background-color 50ms;
  color: #fff;
  background-color: var(--colorBlue);
}
