.detailTutor-container {
  height: 660px;
  overflow: auto;
  position: relative;
  background: #fff;
  padding: 0 32px;
  z-index: 1;
  border-radius: 0 0 8px 8px;
}
#review .wrap {
  display: flex;
  flex-direction: column;
}
#review .header-title {
  padding: 20px 0;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
  display: flex;
  font-size: var(--fontSizeSmall);
}
#review .rate-container {
  width: 100%;
  display: flex;
  padding: 27px 0;
}
#review .ratingOverview {
  width: 175px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #f2f2f2;
}
#review .ratingNumber {
  color: var(--colorText);
  font-weight: 700;
  font-size: 62px;
  line-height: 56px;
}
#review .ratingStars {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
#review .ratingStars-wrap {
  position: relative;
  height: 16px;
  width: 20px;
}
#review .ratingStars-wrap > svg {
  margin: 0 3px;
  fill: #fdc425;
  width: 16px;
  height: auto;
}
#review .distribution {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 0 3vw 0 4vw;
}
#review .distribution-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 0;
}
#review .item-stars {
  width: 70px;
  font-size: var(--fontSizeSmall);
}
#review .item-ratingBar {
  flex: 1;
  height: 8px;
  border-radius: 8px;
  background-color: #f2f2f2;
  position: relative;
  margin: 0 6px;
}
#review .item-filledBar {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #fdc425;
  position: absolute;
}

@media only screen and (max-width: 40em) {
  #review .rate-container {
    flex-direction: column;
  }
  #review .ratingOverview {
    width: 100%;
  }
}
/* review for teacher */
#review .forTutor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: stretch;
  background: #f8f8f8;
  border-radius: 8px;
  z-index: 1;
  margin: 32px 0 0;
  padding: 20px;
}
#review .forTutor__img {
  flex: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}
#review .forTutor__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}
#review .forTutor-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#review .forTutor-title > span {
  font-size: var(--fontSizeMedium);
}
#review .forTutor-title > h3 {
  font-size: var(--fontSizeSmall);

}
#review .forTutor-mainContent {
  margin: 8px 0;
  word-break: break-word;
  max-height: 80px;
  overflow: hidden;
  border: 0;
  vertical-align: baseline;
  padding: 0;
  font-size: var(--fontSizeTiny);
  font-weight: inherit;
  color: var(--colorText);
}
#review .forTutor-btn {
  display: inline-flex;
  align-items: center;
  border: 0;
  padding: 0;
  background: none;
  color: var(--colorBlue);
  cursor: pointer;
  font-size: var(--fontSizeSmall);
  font-weight: 400;
  transition: color 50ms;
}
