#adminTutorTable {
  @apply w-full mb-3;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}
#adminTutorTable .wrapper {
  @apply grid grid-cols-6 place-content-center;
  height: 100%;
  margin-left: 24px;
  font-size: var(--fontSizeSmall);
  line-height: 22px;
  letter-spacing: 0.5px;
}
.tutorTable__header-title {
  font-weight: 700;
  height: 48px;
}

#adminTutorTable .name {
  @apply flex items-center;
  height: 100%;
}

#adminTutorTable .img {
  @apply mr-3;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
#adminTutorTable .teaches {
  @apply flex items-center justify-center;
  height: 100%;
}
#adminTutorTable .student {
  @apply flex items-center justify-center;
  height: 100%;
}
#adminTutorTable .hours {
  @apply flex items-center justify-center;
  height: 100%;
}
#adminTutorTable .money {
  @apply flex items-center justify-center;
  height: 100%;
}
#adminTutorTable .date {
  @apply flex items-center justify-center;
  height: 100%;
}
