#studentPassword {
  /* padding: 10px; */
}

#studentPassword .title {
  padding: 28px 32px;
  border-bottom: 1px solid #ccc;
}

#studentPassword .title > h2 {
  font-size: var(--fontSizeLarge);
}

#studentPassword .form {
  padding: 32px;
}
#studentPassword .formGroup {
  @apply flex items-center;
  margin-bottom: 15px;
  cursor: pointer;
}

#studentPassword .formGroup > label,
#studentPassword .formGroup > input {
  font-size: var(--fontSizeSmall);
}

#studentPassword .formGroup > label {
  flex: 1;
}

#studentPassword .formGroup > input {
  flex: 2;
  width: 100%;
  padding: 10px;
  border: 1px solid #dadfe1;
  outline: none;
  border-radius: 5px;
}
#studentPassword .formGroup > input:focus {
  border-color: #ccc;
}

#studentPassword .btnSubmit {
  margin-top: 10px;
  margin-left: 200px;
}
#studentPassword .btnSubmit > button {
  background: var(--colorBlue);
  color: #fff;
  border-color: var(--colorBlue);
  padding: 11px 16px;
  border-radius: 2px;
  text-align: center;
  font-weight: 500;
  font-size: var(--fontSizeSmall);
}
